<div class="container">
  <ngx-spinner></ngx-spinner>
  <p><b>Weather forecast App</b></p>
  <div class="form-group">
    <input type="text" placeholder="search" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
      #search />
  </div>

  <div class="row">

      <div class="col" *ngFor="let weatherForecast of weatherForecasts">
      
          <div class="card weather-card"><!--  style="width: 18rem;" -->
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <h5>
                <b>{{ weatherForecast?.date | date: 'd MMMM' }}</b> {{weatherForecast.imgUrl}} <br>
              </h5>
    
              <img class="card-img-top" [src]="'assets/'+weatherForecast.imgUrl+'.png'" alt="Card image cap">
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">{{ weatherForecast?.main?.temp_max }} / {{ weatherForecast?.main?.temp_min }}</p>
              <p class="card-text">Humidity: {{ weatherForecast?.main?.humidity }} %</p>
              <p class="card-text">Weather:
                <span *ngFor="let weather of weatherForecast?.weather">
                  {{ weather?.description }}
                </span>
              </p>
              <p class="card-text">Wind: {{ weatherForecast?.wind?.speed }}</p>
            </div>
          </div>
        </div>
  </div>
</div>